<footer id="footer">
    <div class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
       {{ now.Format "2006"}} 
       <span class="split">
        
       </span>
       {{ .Site.Params.businessName }}
    {{ end }}
    </div>

</footer>

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}
